{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
<div class="view__section" id="opoe-glossary-term-{{ title }}">
    {% if title %}
      <h3 class="view__section__title">{{ title }}</h3>
    {% endif %}

    <div class="view__section__content grid">
        {% for row in rows %}
          {%
            set row_classes = [
              default_row_class ? 'views-row',
              loop.index,
              loop.first ? 'views-row--first' : '',
              loop.last ? 'views-row--last' : ''
            ]
          %}
          <div{{ row.attributes.addClass(row_classes) }}>
            {{- row.content -}}
          </div>
        {% endfor %}
    </div>
</div>
