<div class="nl-issue">
    <div class="nl-issue__date">
        {{ fields.field_date.content }}
    </div>

    <div class="nl-issue__title">
        {{ fields.title.content }}
    </div>

    <div class="nl-issue__download">
        <a href="{{ fields.view_node.content }}">Read more</a>
    </div>
</div>
