{% include '@opoe/components/c-team-card.html.twig' with {
    'image': fields.field_image.content,
    'title': fields.title.content,
    'text': fields.field_intro_text.content,
    'role': fields.field_role.content,
    'url': fields.view_node.content
}%}
