{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
    <div class="container">
        <div class="view__top">
            <div class="view-header view__header">
                {{ header }}
            </div>
        </div>

        <div class="view__main">
            <div class="view-content view__content">

                {{ rows }}

            </div>
        </div>

        <div class="view__bottom">
            <div class="view__footer">
                {{ footer }}
            </div>
        </div>
    </div>
</div>
