/*
    Fixed container (as Bootstrap)
    max-width per breakpoint (Boootstrap way)
*/
/*
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: #{$grid_col_gap / 2};
    padding-right: #{$grid_col_gap / 2};

    @each $breakpointName, $breakpointMaxWidth in $container_fixed_max_widths{
        @include mq($breakpointName) {
            max-width: $breakpointMaxWidth;
        }
    }
}
*/



/*
    Fluid container (as Foundation)
    max-width: 100% until bigger screens
*/
@mixin container() {
    width: 100%;
    max-width: $container_fluid_max_width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $grid_col_gap;
    padding-right: $grid_col_gap;

    @include mq(lg) {
        padding-left: #{$grid_col_gap / 2};
        padding-right: #{$grid_col_gap / 2};
    }
}

.container{
    @include container();

    .container {
        @include px(0);
    }
}



/*
    Additional padding in main?
    aka design with main smaller than header and footer (see DH BSL project)
*/
/*
#main {
    .container {
        @include mq(lg) {
            @include px($container_additional_padding);
        }
    }
}
*/
