/*
    Grid container
*/
.grid {
    @include grid();
}

.grid--super {
    @include super-grid();
}



/*
    Grid cells
*/
// Width classes: no media queries
@for $i from 1 to $grid_cols + 1 {
    .cell-#{$i} {
        @include grid-cell-span($i);
    }
}

// Width classes: per breakpoints
@each $breakpointName, $breakpointValue in $mq-breakpoints{
    @for $i from 1 to $grid_cols + 1 {
        .#{$breakpointName}\:cell-#{$i} {
            @include mq($breakpointName){
                @include grid-cell-span($i);
            }
        }
    }
}
