{% include '@opoe/components/c-two-columns-text.html.twig' with {
    'title': content.field_title,
    'text_left': content.field_text_left,
    'text_right': content.field_text_right,
    'footer': content.field_footer_text
}%}
