{% include '@opoe/components/c-video-content.html.twig' with {
    'title': content.field_title,
    'text': content.field_text,
    'video': content.field_video,
    'videoposition': content.field_image_position,
    'cta_url': paragraph.field_link.0.url,
    'cta_text': paragraph.field_link.0.title,
    'ctas': paragraph.field_ctas
}%}
