{% include '@opoe/components/c-image-content.html.twig' with {
    'title': content.field_title,
    'text': content.field_text,
    'image': content.field_image.0,
    'imageposition': content.field_image_position,
    'cta_url': paragraph.field_link.0.url,
    'cta_text': paragraph.field_link.0.title,
    'ctas': paragraph.field_ctas,
    'addbranding': content.field_add_branding,
}%}
