{% include '@opoe/components/c-hero.html.twig' with {
    'text': content.field_text,
    'text': content.field_text,
    'cta_url': paragraph.field_link.0.url,
    'cta_text': paragraph.field_link.0.title,
    'image': content.field_image.0,
    'bgimage': content.field_background_image.0
}%}
