@mixin button-commons() {
    display: inline-block;
    padding: remCalc(14) remCalc(30) remCalc(12) remCalc(30);
    @include ts-summary();
    font-family: $font_family_2;
    font-style: normal;
    text-decoration: none;
    transition: $trans_linear_fast;
    line-height: 1;
    border: none;
    width: 100%;
    text-align: center;
    border-top-right-radius: $border_radius_leaf1;
    border-bottom-left-radius: $border_radius_leaf1;

    @include mq(md) {
        width: auto;
    }

    &:hover {
        cursor: pointer;
    }
}



/*
  Standard/filled buttons
*/
.c-button {
    @include button-commons();
    background: $color_blue;
    color: $color_white;

    &:hover {
        background: $color_purple;
    }
}

.c-button--yellow {
    @include button-commons();
    background: $color_yellow;
    color: $color_purple;

    &:hover {
        background: lighten($color_yellow, 8%);
        background: $color_blue-bright;
        color: $color_white;
    }
}
