.c-hero {
    background-color: $color_primary;
    color: $color_white;
    position: relative;
    overflow: hidden;
    min-height: 60vh;
    display: flex;
    align-items: center;
    @include py($space_2xl);

    @include mq(md) {
        min-height: 30vh;
    }

    @include mq(lg) {
        @include py($space_3xl);
    }

    @include mq(xl) {
        min-height: 40vh;
    }

    &--bg {
        @include bg-image();

        .c-hero__overlay {
            display: block;
        }

        .c-hero__text {
            text-shadow: 1px 1px 4px $color_black;
        }
    }
}

.c-hero__overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba($color_black0, 0.45);
    display: none;
    z-index: 10;
}

.c-hero__content__inner {
    @include grid-cell(2, 10, 9);
}

.c-hero__text {
    @include fs1();
    @include ts-headlines-commons();
    color: $color_white;
    margin-bottom: 0px;
}

.c-hero__content {
    width: 100%;
    position: relative;
    z-index: 30;
    color: $color_white;
}

.c-hero__cta {
    margin-top: $space_xl;

    .c-button {
        &:hover {
            background: $color_secondary;
            color: $color_purple;
        }
    }
}

.c-hero__image {
    display: none;
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: auto;
    z-index: 20;
    transform: translateX(30px) translateY(30px);

    @include mq(md) {
        display: block;
        width: 200px;
    }

    @include mq(lg) {
        width: 250px;
    }

    @include mq(xxl) {
        width: 280px;
    }
}
