.c-image {
    @include py($space_2xl);

    @include mq(lg) {
        @include py($space_3xl);
    }

     &__image {
         text-align: center;

         img {
             width: auto;
         }
     }
}
