.c-image-content {
    @include py($space_3xl);
    /*
    @include mq(xl) {
        @include py($space_4xl);
    }
    */

    /* Layout */
    .c-image-content__image,
    .c-image-content__content {
        @include grid-cell-span(2);

        @include mq(md) {
            @include grid-cell-span(6)
        }
    }

    &.c-image-content--ileft {
        .c-image-content__content {
            @include mq(xxl) {
                @include grid-cell-span(5, 8)
            }
        }
        .c-image-content__image {
            @include mq(xxl) {
                @include grid-cell-span(7, 1);
            }
        }
    }

    &.c-image-content--iright {
        .c-image-content__image {
            @include mq(md) {
                order: 2;
            }
        }

        .c-image-content__content {
            @include mq(md) {
                order: 1;
            }
        }

        @include mq(xxl) {
            .c-image-content__content {
                @include grid-cell-span(5, 1);
            }

            .c-image-content__image {
                @include grid-cell-span(7, 6);
            }
        }
    }



    /*
        Branding Circle
    */
    &.c-image-content--branding-1 {
        .c-image-content__image {
            @include mq(xl) {
                position: relative;

                &:after {
                    content: '';
                    display: block;
                    background: $color_yellow;
                    height: calc(100% + 100px);
                    aspect-ratio: 1 / 1;
                    border-radius: 50%;
                    position: absolute;
                    top: -50px;
                    z-index: -1;
                }
            }
        }
    }
}

.c-image-content__image {
    margin-bottom: $space_2xl;

    @include mq(md) {
        margin-bottom: 0px;
    }

    img {
        border-top-right-radius: $border_radius_leaf2;
        border-bottom-left-radius: $border_radius_leaf2;

    }
}

.c-image-content--ileft {
    .c-image-content__image {
        &:after {
            left: -100px;
        }
    }
}


.c-image-content--iright {
    .c-image-content__image {
        &:after {
            right: -100px;
        }
    }
}



.c-image-content__title {
    @include fs2();
    margin-top: 0px;
    margin-bottom: $space_m;
}

.c-image-content__cta {
    margin-top: $space_xl;
}

.c-image-content__ctas {
    margin-top: $space_s;
}

.c-image-content__ctas__item {
    @include py($space_xs);
}
