.c-icon-content {
    padding-bottom: $space_3xl;
    /*
    @include mq(lg) {
        padding-bottom: $space_4xl;
    }
    */

    .c-icon-content__icon {
        @include grid-cell-span(2);
        margin-bottom: $space_m;

        @include mq(md) {
            @include grid-cell-span(2);
            margin-bottom: 0px;
        }

        img {
            width: 80px;
            height: auto;

            @include mq(md) {
                width: 50px;
            }

            @include mq(lg) {
                width: 80px;
            }
        }
    }

    .c-icon-content__content {
        @include grid-cell-span(2);
        @include mq(md) {
            @include grid-cell-span(10);
        }
    }
}

.c-icon-content__container {

}

.c-icon-content__title {
    @include fs4();
    margin-bottom: $space_l;
}

.c-icon-content__text {
    @include ts-summary();
    color: $color_primary;
}

.c-icon-content__link {
    margin-top: $space_l;

    a {
        @include ts-summary();
        font-weight: 700;
        @include link-undeline-animation();
    }
}
