.c-loader {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 10000;

	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $color_blue-bright;

    #c-loader-logo {
    	position: relative;
    	width: 200px;
    	height: 200px;
      perspective: 800px;
    	transform: scale(1.5);
    }

    #c-loader-logo-head,
    #c-loader-logo-left,
    #c-loader-logo-main,
    #c-loader-logo-bottom {
    	position: absolute;
    	width: 100%;
    	height: 100%;
    }
}
