.c-newsletter-item {
    max-width: 800px;
}


.c-newsletter-item__title {
    @include fs4();
    margin-bottom: $space_2xs;
    @include ts-summary();
    color: $color_yellow;
}


.c-newsletter-item__content {
    border-top: 2px solid $color_yellow;
    padding-top: $space_l;
    @include py($space_l);
}


.c-newsletter-item__icon {
    @include grid-cell-span(2);
    margin-bottom: $space_m;
    text-align: center;

    @include mq(md) {
        @include grid-cell-span(2, 1);
        margin-bottom: 0px;
    }

    img {
        width: 150px;
        height: auto;
    }
}


.c-newsletter-item__text {
    @include grid-cell-span(2);
    @include ts-summary();
    color: $color_primary;

    @include mq(md) {
        @include grid-cell-span(10, 3);
    }
}
