.c-team-card__image {
    margin-bottom: $space_xl;

    img {
        border-top-right-radius: $border_radius_leaf2;
        border-bottom-left-radius: $border_radius_leaf2;
    }
}

.c-team-card__title {
    $font-family: $font_family_1;
    @include fs5();
    font-weight: 700;
    color: $color_purple;
    margin-bottom: $space_2xs;
}

.c-team-card__role {
    text-transform: uppercase;
    color: $color_blue-bright;
    font-weight: 700;
    margin-bottom: $space_m;
}

.c-team-card__cta {
    color: $color_purple;
    font-style: italic;
    font-weight: 700;
    @include link-undeline-animation();
    margin-top: $space_s;
}



.c-team-card--with-url {
    .c-team-card__link {
        display: block;
        transition: $trans_linear_fast;
        font-style: normal;
        text-decoration: none;
        color: $color_text;

        &:hover {
            opacity: 0.75;
            /*
            .c-team-card__image {
                transform: translateY(-2px);
            }
            */
        }
    }

    /*
    .c-team-card__image {
        transition: $trans_linear_fast;
    }
    */
}
