.c-two-columns-text {
    @include py($space_3xl);
    @include mq(xl) {
        @include py($space_4xl);
    }
}

.c-two-columns-text__wrapper {
    @include grid-cell(2, 12, 9);
}

.c-two-columns-text__content {
    margin-bottom: $space_xl;
}

.c-two-columns-text__content__left {
    @include mq($until: md) {
        margin-bottom: $space_m;
    }
}
.c-two-columns-text__content__left,
.c-two-columns-text__content__right {
    @include grid-cell(2, 6);
}

.c-two-columns-text__footer {
    @include ts-summary();
}
