.c-timeline {
    @include py($space_2xl);
    @include mq(lg) {
        @include py($space_3xl);
    }



    &__title {
        @include fs2();
        margin-bottom: $space_xl;
        text-align: center;
    }

}
