.c-video-content {
    @include py($space_3xl);
    @include mq(xl) {
        @include py($space_4xl);
    }

    /* Layout */
    .c-video-content__video,
    .c-video-content__content {
        @include grid-cell-span(2);

        @include mq(md) {
            @include grid-cell-span(6)
        }
    }

    &.c-video-content--ileft {
        .c-video-content__content {
            @include mq(xxl) {
                @include grid-cell-span(5, 8)
            }
        }
        .c-video-content__video {
            @include mq(xxl) {
                @include grid-cell-span(7, 1);
            }
        }
    }

    &.c-video-content--iright {
        .c-video-content__video {
            @include mq(md) {
                order: 2;
            }
        }

        .c-video-content__content {
            @include mq(md) {
                order: 1;
            }
        }

        @include mq(xxl) {
            .c-video-content__content {
                @include grid-cell-span(5, 1);
            }

            .c-video-content__video {
                @include grid-cell-span(7, 6);
            }
        }
    }
}

.c-video-content__video {
    margin-bottom: $space_2xl;
    @include mq(md) {
        margin-bottom: 0px;
    }
}

.c-video-content__title {
    @include fs2();
    margin-top: 0px;
    margin-bottom: $space_m;
}

.c-video-content__cta {
    margin-top: $space_xl;
}

.c-video-content__ctas {
    margin-top: $space_s;
}

.c-video-content__ctas__item {
    @include py($space_xs);
}
