.c-footer {
    padding-top: $space_2xl;
    padding-bottom: $space_2xl;
    background: $color_blue-bright;
    color: $color_white;
    position: relative;
    overflow: hidden;

    @include mq(xl) {
        padding-top: $space_4xl;
    }

    a,
    h2,
    h3 {
        color: $color_white;
    }

    .c-footer__bg {
        display: block;
        position: absolute;
        top: 0px;
        right: -60%;
        height: 100%;
        width: auto;
        z-index: 10;
        max-width: none;

        @include mq(md) {
            top: 0px;
            right: -10%;
            width: 150%;
            height: auto;
        }

        @include mq(lg) {
            right: -20%;
        }

        @include mq(xl) {
            right: -12%;
        }
    }
}



.c-footer-main {
    position: relative;
    z-index: 20;
}

.c-footer__left {
    @include grid-cell-span(2);
    @include mq(md) {
        @include grid-cell-span(12, 1);
    }
    @include mq(lg) {
        @include grid-cell-span(5, 1);
    }

    .menu-item {
        a {
            @include ts-summary();
            font-style: normal;
            @include fs4();
        }
    }
}

.c-footer__right {
    // @include grid-cell(2, 12, 5, 4);
    @include grid-cell-span(2);
    @include mq(md) {
        @include grid-cell-span(12, 1);
    }
    @include mq(lg) {
        margin-top: 0px;
        @include grid-cell-span(5, 6);
    }
    @include mq(xl) {
        @include grid-cell-span(4, 6);
    }
    margin-top: $space_2xl;
}

.c-footer__right {
    .block-webform {
        h2 {
            @include fs3();
        }
    }
    form {
        display: flex;
        flex-direction: column;
    }
}


.c-footer-bottom {
    position: relative;
    z-index: 20;
    margin-top: $space_3xl;
}

.region-footer-bottom-1 {
    @include grid-cell(12, 4, 4, 5);
}

.c-footer__bottom2 {
    margin-top: $space_xl;
}

.region-footer-bottom-2 {
    @include ts-summary();
    font-weight: 400;
    font-size: remCalc(14);
}
