.c-header {
    position: relative;
    z-index: 100;

    .site-logo {
        display: block;
        padding-bottom: $space_l;

        @include mq(xl) {
            padding-bottom: $space_2xl;
        }

        img {
            width: 100%;

            @include mq(xl) {
                width: 450px;
            }
        }
    }
}



/*
    Header top
*/
.c-header-top {
  background: $color_primary;
  color: $color_white;

    .container {
        display: flex;
        justify-content: flex-end;
    }

    /* Header top menu */
    .block-menu >  ul.menu {
        @include menu-base-h();

        & > li {
            @include py(0);

            & > a {
                padding: $space_2xs $space_m;
                text-decoration: none;
                text-transform: uppercase;
                font-size: remCalc(14);
                font-weight: 500;
                line-height: 1;
                color: $color_black;

                &:hover {
                    color: $color_secondary;
                }
            }

            &:last-child {
                a {
                    padding-right: 0px;
                }
            }
        }
    }
}



/*
    Header main
*/
.c-header-main {
    background: $color_blue-bright;
    color: $color_white;
    padding-top: $space_l;

    @include mq(lg) {
        padding-top: $space_xl;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}




/*
    Navigation
*/
.c-nav {
    background: $color_blue-bright;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #block-topnavigation {
        .menu {
            @include menu-base-h();
            display: flex;
            justify-content: center;

            @include mq(lg) {

            }

            & > li {
                @include py(0px);
                position: relative;
                margin-left: 10px;
                margin-right: 10px;
                display: block;
                width: 220px;
                display: flex;
                justify-content: center;

                @include mq(lg) {
                    margin-left: 20px;
                    margin-right: 20px;
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 0px;
                    left: -25px;
                    width: 25px;
                    height: 100%;

                    @include mq(lg) {
                        left: -40px;
                        width: 40px;
                    }
                }

                &:after {
                    content: '';
                    position: absolute;
                    top: 0px;
                    right: -25px;
                    width: 25px;
                    height: 100%;

                    @include mq(lg) {
                        right: -40px;
                        width: 40px;
                    }
                }

                & > a {
                    display: inline-block;
                    text-align: center;
                    color: $color_purple;
                    padding: $space_xs $space_xs;
                    transform: translateX(-12px);

                    @include mq($until: lg) {
                        line-height: 1;
                    }

                    @include mq(lg) {
                        // width: 220px;
                        @include py($space_s);
                    }

                    /*
                    &:hover {
                        text-decoration: underline;
                    }
                    */
                }

                &:first-child {
                    background: $color_blue-light;
                    border-top-right-radius: $border_radius_leaf1;
                    @include mq($until: lg) {
                        margin-right: 20px;
                    }

                    &:before {
                        /*
                        @include bg-image('../images/left-tab-curve.svg');
                        background-size: auto 100%;
                        */

                        background: $color_blue-light;
                        transform: skewX(-30deg) translateX(12px);
                        border-top-left-radius: $border_radius_leaf1;
                        // border-top-left-radius: $border_radius;

                    }

                    &:after {
                        /*
                        @include bg-image('../images/left-tab-curve.svg');
                        background-size: auto 100%;
                        transform: rotateY(180deg);
                        */

                        /*
                        background: $color_blue-light;
                        transform: skewX(25deg) translateX(-15px);
                        border-top-right-radius: $border_radius_leaf1;
                        */
                    }

                    a {
                        // background: $color_blue-light;

                        @include mq(lg) {

                            @include link-undeline-animation($color_purple, $color_purple);
                            &:before {
                                top: 75%;
                                // @include abs-horizontal-center();
                            }

                            /*
                            &:hover {
                                &:before {
                                    // width: 45px;
                                    // @include abs-horizontal-center();
                                    // right: auto;
                                }
                            }
                            */
                        }
                    }
                }

                &:last-child {
                    background: $color_blue-medium;
                    border-top-right-radius: $border_radius_leaf1;
                    // transform: translateX(0px);

                    &:before {
                        /*
                        @include bg-image('../images/right-tab-curve.svg');
                        background-size: auto 100%;
                        transform: rotateY(180deg);
                        */

                        background: $color_blue-medium;
                        transform: skewX(-30deg) translateX(12px);
                        border-top-left-radius: $border_radius_leaf1;
                        // border-top-left-radius: $border_radius;
                    }

                    &:after {
                        /*
                        @include bg-image('../images/right-tab-curve.svg');
                        background-size: auto 100%;
                        */
                        /*
                        background: $color_blue-medium;
                        transform: skewX(25deg) translateX(-15px);
                        border-top-right-radius: $border_radius_leaf1;
                        */

                    }

                    a {
                        // background: $color_blue-medium;

                        @include mq(lg) {

                            @include link-undeline-animation($color_purple, $color_purple);
                            &:before {
                                top: 75%;
                                // @include abs-horizontal-center();
                            }


                            /*
                            &:hover {
                                &:before {
                                    width: 180px;
                                    @include abs-horizontal-center();
                                    right: auto;
                                }
                            }
                            */
                        }
                    }
                }
            }
        }
    }
}



/*
    Set active top menu using body class (see .theme file) and z-index
*/
body {
    &.t-audience-public {
        #block-topnavigation {
            .menu > li:first-child {
                z-index: 20;
            }

            .menu > li:last-child {
                z-index: 10;
            }
        }
    }

    &.t-audience-professionals {
        #block-topnavigation {
            .menu > li:first-child {
                z-index: 10;
            }

            .menu > li:last-child {
                z-index: 20;
            }
        }
    }
}




#block-publicnavigation,
#block-professionalsnavigation {
    @include py($space_s);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1px;

    @include mq(lg) {
        @include py($space_xs);
    }

    .we-mega-menu-ul > .we-mega-menu-li > a {
        @include mq(lg) {
            color: $color_purple;
        }
    }



}

#block-publicnavigation {
    background: $color_blue-light;
    .navbar-we-mega-menu.navbar.we-mobile-megamenu-active {
        background: $color_blue-light;
    }
}

#block-professionalsnavigation {
    background: $color_blue-medium;
    .navbar-we-mega-menu.navbar.we-mobile-megamenu-active {
        background: $color_blue-medium;
    }
}
