// Mobile menu toggle
#mobile-menu-toggle-container {
    position: relative;
    margin-right: 15px;
    margin-top: 2px;
    z-index: 90;
    @include mq(lg) {
      display: none;
    }
}

.mobile-menu-toggle {
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
        text-decoration: none;
    }
}

.mobile-menu-toggle__ham {
    position: relative;
    width: 30px;
    height: 25px;
    margin-bottom: 0px;

    div {
        position: absolute;
        height: 2px;
        background-color: $color_white;
        width: 100%;
        transition: all 200ms;
    }

    .first {
        top: 0px;
    }

    .second {
        top: 10px;
    }

    .third {
        top: 20px;
    }
}

// Mobile menu animation: on toggle and menu
.open-mobile-menu {
  .mobile-menu-toggle__ham {
      div {
          background-color: $color_white;
      }
      .first {
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          top: 8px;
      }
      .second {
          opacity: 0;
      }
      .third {
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          top: 8px;
      }
  }
}
