.view-glossary-terms{

    &.view-display-id-block_1 {
        .view-header {
            display: flex;
            flex-wrap: wrap;
            @include py($space_l);

            @include mq(lg) {
                justify-content: space-between;
            }

            a {
                display: block;
                margin-right: $space_xl;
                margin-bottom: $space_m;
                font-weight: 600;
                font-family: $font_family_2;

                @include mq(lg) {
                    margin-right: $space_l;
                }

                &:hover {
                    color: $color_blue-bright;
                }
            }
        }

        .view__section {
            margin-bottom: $space_2xl;
            @include mq(xl) {
                margin-bottom: $space_3xl;
            }
        }

        .view__section__content {
            .views-row {
                @include grid-cell(2, 3);
                margin-bottom: $space_2xl;
            }

            .views-field-title {
                text-transform: uppercase;
                color: $color_blue-bright;
                font-weight: 700;
                margin-bottom: $space_s;
            }

            .views-field-body {
                color: $color_purple;
            }
        }
    }
}
