.view-newsletter-issues{

    &.view-display-id-block_1 {
        .view__section{
            padding-top: $space_3xl;
            padding-bottom: $space_2xl;

            @include mq(xl) {
                padding-top: $space_4xl;
                padding-bottom: $space_4xl;
            }

            &:nth-child(odd) {
                background: $color_grey-light;
            }
        }

        .view__section__header {
            @include ts-headlines-commons();
            @include fs2();
            margin-bottom: $space_2xl;
        }

        .view__section__content {
            @include grid(5, $space_3xl);
        }

        .views-row {
            margin-bottom: $space_3xl;
            @include grid-cell-span(2, 1);
            @include mq(md){
                &:nth-child(5n+0) {
                    @include grid-cell-span(1, 5);
                }
                &:nth-child(5n+1) {
                    @include grid-cell-span(1, 1);
                }
                &:nth-child(5n+2) {
                    @include grid-cell-span(1, 2);
                }
                &:nth-child(5n+3) {
                    @include grid-cell-span(1, 3);
                }
                &:nth-child(5n+4) {
                    @include grid-cell-span(1, 4);
                }
            }

            &--last {
                margin-bottom: 0px;
            }
        }

        .nl-issue {
            &__icon {
                font-size: remCalc(92);
                color: $color_blue-bright;
                line-height: 1;
                margin-bottom: $space_xs;
            }

            &__title {
                @include ts-headlines-commons();
                @include fs4();
                line-height: 1.2;
                @include my($space_m);
            }

            &__download {
                a {
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }



    /*
        Newsletter Issue Header: date and hardcoded title
    */
    &.view-display-id-block_2,
    &.view-display-id-block_3 {
        h1 {
            @include my($space_m);
        }

        .page__date {
            @include ts-summary();
            color: $color_blue-bright;
        }
    }

    &.view-display-id-block_3 {

    }
}
