.view-team{

    &.view-display-id-block {
        .view__section{
            padding-top: $space_3xl;
            padding-bottom: $space_2xl;

            @include mq(xl) {
                padding-top: $space_4xl;
                padding-bottom: $space_4xl;
            }

            &:nth-child(even) {
                background: $color_grey-light;
            }
        }

        .view__section__content {
            .grid {
                gap: $grid_col_gap * 2;
            }
        }

        .views-row {
            @include grid-cell(2, 4, 3);
            margin-bottom: $space_2xl;

            &--last {
                margin-bottom: 0px;
            }
        }

        .c-team-card__image {
            img {
                @include mq(md) {
                    max-width: 75%;
                }
            }
        }
    }
}
