.view-faq {

    &.view-display-id-featured {
        background: $color_blue-bright;
        color: $color_white;
        @include py($space_3xl);

        @include mq(xl) {
            @include py($space_4xl);
        }

        .view__title {
            color: $color_white;
            margin-bottom: $space_l;
        }

        .views-row {
            @include grid();

            &--last {
                margin-bottom: 0px;
                border: none;
            }

            & > article {
                border-bottom: thin solid $color_white;
                padding-bottom: $space_2xl;
                margin-bottom: $space_2xl;

                // @include grid-cell(2, 12, 9);
                @include grid-cell-span(2);
                @include mq(md) {
                    @include grid-cell-span(12, 1);
                }
                @include mq(lg) {
                    @include grid-cell-span(9, 1);
                }
            }

            .node__title {
                display: inline-block;
                @include py($space_2xs);
                color: $color_white;
                text-decoration: none;
                @include fs3();
            }

            .node__text {
                @include ts-summary();
            }
        }

        .view__footer {
            color: $color_white;
            a {
                color: $color_white;
                @include ts-summary();
                font-weight: 700;
                text-decoration: none;
                font-style: italic;
                @include link-undeline-animation($color_white);
            }
        }
    }

    &.view-display-id-block_1 {
        padding-top: $space_2xl;

        .view-content {
            @include grid();
        }

        .views-row {
            @include grid-cell(2, 12, 9);
            border-bottom: thin solid $color_white;
            padding-bottom: $space_2xl;
            margin-bottom: $space_2xl;
        }
    }
}
