.view-timeline {
    /*
    .timeline-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 600px;
        margin: 0 auto !important;
        @include py($space_l);

        &.odd {
            .timeline-item-wrapper {
                grid-column: 1 / span 1;
            }
        }

        &.even {
            .timeline-item-wrapper {
                grid-column: 2 / span 1;
            }
        }
    }

    .timeline-item-wrapper {
        background: $color_grey-medium;
        border: thin solid $color_grey-dark;
        display: inline-block;
        float: none !important;
    }
    */



    .timeline-item {
        width: 700px;
        margin: 0 auto !important;

        &.even {
            .timeline-item-wrapper {
                left: 0px;
            }

            .timeline-mark {
                position: relative;
                right: 30px;
            }
        }

        &.odd {
            .timeline-item-wrapper {
                right: 0px;
            }
        }
    }

    .timeline-item-wrapper {
        background: $color_grey-medium;
        border: thin solid $color_grey-dark;
        position: relative;
    }

}
