<h2>Primary colors</h2>
<ul class="pl-colors">
    <li>
        <span class="pl-swatch bg-color--purple"></span>
    </li>
    <li>
        <span class="pl-swatch bg-color--yellow"></span>
    </li>
    <li>
        <span class="pl-swatch bg-color--blue-medium"></span>
    </li>
    <li>
        <span class="pl-swatch bg-color--blue-light"></span>
    </li>
    <li>
        <span class="pl-swatch bg-color--grey-dark"></span>
    </li>
    <li>
        <span class="pl-swatch bg-color--grey-medium"></span>
    </li>
    <li>
        <span class="pl-swatch bg-color--grey"></span>
    </li>
    <li>
        <span class="pl-swatch bg-color--grey-light"></span>
    </li>

</ul>

<h2>Support colors</h2>
<ul class="pl-colors">
    <li>
        <span class="pl-swatch bg-color--orange"></span>
    </li>
    <li>
        <span class="pl-swatch bg-color--red"></span>
    </li>
    <li>
        <span class="pl-swatch bg-color--magenta"></span>
    </li>
    <li>
        <span class="pl-swatch bg-color--blue-bright"></span>
    </li>
</ul>

<h2>Other colors</h2>
<ul class="pl-colors">
    <li>
        <span class="pl-swatch bg-color--primary"></span>
    </li>
    <li>
        <span class="pl-swatch bg-color--secondary"></span>
    </li>
    <li>
        <span class="pl-swatch bg-color--text"></span>
    </li>
</ul>
