/*
    Settings:
        - functions (used sometimes to define values in settings)
        - Global variables and configuration
*/
@import 'functions';


/*
    Breakpoints (sass-mq package)
*/
$mq-breakpoints: (
    md: 768px,
    lg: 1024px,
    xl: 1200px,
    xxl: 1440px
);

// viewport/breakpoint debug: comment out in production
// $mq-show-breakpoints: (md, lg, xl, xxl);



/*
    Containers (see _containers.scss), we have 2 options:
    1) fluid (as Foundation)
    2) fixed per breakpoint (as Bootstrap)
*/
// Fluid container: max-width: 100% until bigger screens
$container_fluid_max_width: 1200px;

// Fixed container: max-width per breakpoint
$container_fixed_max_widths: (
    md: 768px,
    lg: 1024px,
    xl: 1200px,
    // xxl: 1440px
);
$container_additional_padding_px: 0;
$container_additional_padding: remCalc(0);



/*
    Grid
*/
$grid_cols: 12;
$grid_col_gap: 30px;
$grid_row_gap: 30px;
$max-column-width: ($container_fluid_max_width - ($container_additional_padding_px * 2) - ($grid_col_gap * 11)) / 12;



/*
    Spacings/sizes
*/
$space_2xs: 0.25rem;
$space_xs: 0.5rem;
$space_s: 0.75rem;
$space_m: 1rem;
$space_l: 1.5rem;
$space_xl: 2rem;
$space_2xl: 3rem;
$space_3xl: 4rem;
$space_4xl: 8rem;
$space_5xl: 12rem;

/* sass map useful to generate classes (_spacing-classes.scss) */
$spacings: (
    "2xs": $space_2xs,
    "xs": $space_xs,
    "s": $space_s,
    "m": $space_m,
    "l": $space_l,
    "xl": $space_xl,
    "2xl": $space_2xl,
    "3xl": $space_3xl,
    "4xl": $space_4xl
);

/* forms */
$form-input_height: 45px;



/*
    Colors
*/
$color_white: #FFF;
$color_black: #27272C;
$color_black0: #000;

$color_purple: #231F66;
$color_yellow: #EAB010;
$color_blue-medium: #6FCCDC;
$color_blue-light: #A8DCDD;
$color_grey-dark: #76778A;
$color_grey-medium: #CBCCD2;
$color_grey: #E8E8E8;
$color_grey-light: #F1F1F1;

$color_orange: #F29857;
$color_red: #DB5A67;
$color_magenta: #BD57F2;
$color_blue-bright: #425AD4;


/* New colors */
$color_blue: #3A4BB8;
$color_black2: #54547C;


$color_primary: $color_purple;
$color_secondary: $color_yellow;
$color_text: $color_black2;



/* sass map useful to generate classes */
$colors: (
    "white": $color_white,
    "black": $color_black,
    "black0": $color_black0,

    "purple": $color_purple,
    "yellow": $color_yellow,
    "blue-medium": $color_blue-medium,
    "blue-light": $color_blue-light,
    "grey-dark": $color_grey-dark,
    "grey-medium": $color_grey-medium,
    "grey": $color_grey,
    "grey-light": $color_grey-light,

    "orange": $color_orange,
    "red": $color_red,
    "magenta": $color_magenta,
    "blue-bright": $color_blue-bright,

    "primary": $color_primary,
    "secondary": $color_secondary,
    "text": $color_text
);



/*
    Typography
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@font-face {
    font-family: 'Pangram Sans';
    font-weight: 400;
    src: url('../fonts/pangram-sans/PPPangramSans-Regular.eot');
    src: url('../fonts/pangram-sans/PPPangramSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pangram-sans/PPPangramSans-Regular.woff2') format('woff2'),
        url('../fonts/pangram-sans/PPPangramSans-Regular.woff') format('woff'),
        url('../fonts/pangram-sans/PPPangramSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Pangram Sans';
    font-weight: 500;
    src: url('../fonts/pangram-sans/PPPangramSans-Medium.eot');
    src: url('../fonts/pangram-sans/PPPangramSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pangram-sans/PPPangramSans-Medium.woff2') format('woff2'),
        url('../fonts/pangram-sans/PPPangramSans-Medium.woff') format('woff'),
        url('../fonts/pangram-sans/PPPangramSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Pangram Sans';
    font-weight: 700;
    src: url('../fonts/pangram-sans/PPPangramSans-Bold.eot');
    src: url('../fonts/pangram-sans/PPPangramSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pangram-sans/PPPangramSans-Bold.woff2') format('woff2'),
        url('../fonts/pangram-sans/PPPangramSans-Bold.woff') format('woff'),
        url('../fonts/pangram-sans/PPPangramSans-Bold.ttf') format('truetype');
}
$font_family_1: 'Nunito Sans', sans-serif;
// $font_family_2: 'Pangram Sans', sans-serif;
$font_family_2: $font_family_1;

$font_family_icons: 'Font Awesome 5 Pro';
$fa-font-path: '../fonts/font-awesome';


/*
    Responsive typography: stepped with value per breakpoint map
    (to be used with responsive-property mixin)
*/
$font_size_base: (
    sm: remCalc(16)
);

$font_size_bold: (
    sm: remCalc(18)
);

$font_size_1: (
    /* sm: remCalc(32), */
    sm: remCalc(30),
    lg: remCalc(44)
);

$font_size_2: (
    sm: remCalc(28),
    lg: remCalc(32)
);

$font_size_3: (
    sm: remCalc(24),
    lg: remCalc(28)
);

$font_size_4: (
    sm: remCalc(22)
);

$font_size_5: (
    sm: remCalc(20)
);

$font_size_6: (
    sm: remCalc(18)
);


/*
    Responsive typography: fluid with clamp
    Font sizes with clamp to be used directly
*/
/*
$font_size_fluid_1: clamp(#{remCalc(50)}, 4.5vw, #{remCalc(75)});
$font_size_fluid_2: clamp(#{remCalc(40)}, 4vw, #{remCalc(56)});
$font_size_fluid_3: clamp(#{remCalc(30)}, 3vw, #{remCalc(42)});
$font_size_fluid_4: clamp(#{remCalc(22)}, 2.5vw, #{remCalc(31)});
$font_size_fluid_5: clamp(#{remCalc(18)}, 2vw, #{remCalc(23)});
*/



/*
    Transitions
*/
$trans_linear: all 250ms linear;
$trans_linear_fast: all 100ms linear;
$trans_easeInOutCubic: all 450ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
$trans_easeOutCubic: all 450ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
$trans_easeOutCubic_fast: all 250ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
$trans_easeOutCubic_slow: all 800ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
$trans_func_easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$trans_func_easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);



/*
  Various
*/
$border_radius: 10px;
$border_radius2: 24px;
$border_radius_leaf1: 16px;
$border_radius_leaf2: 36px;
$slashy_degs: 120deg;
$box_shadow: 0px 2px 12px 2px rgba(0,0,0,0.35);



/*
    lightgallery.js vars
*/
$backdrop-opacity: 0.85;
$lg-toolbar-bg: rgba($color_black0, 0.9);
$lg-icon-bg: rgba(0, 0, 0, 0.45) !default;
$lg-icon-color: #fff !default;
$lg-sub-html-bg: rgba(0, 0, 0, 0.95) !default;
$lg-sub-html-color: #FFF !default;
$lg-border-radius-base: 0 !default;
$lg-path-fonts: '../fonts/lg' !default;
$lg-path-images: '../images/lg' !default;
$zindex-outer: 20000000;
$zindex-backdrop: 20000000;
