<div class="c-team-card">
    <div class="c-team-card__image">
        <img src='https://placeimg.com/520/520/tech' alt='Image alt'>
    </div>

    <div class="c-team-card__title">
        Title: Lorem ipsum dolor sit amet
    </div>

    <div class="c-team-card__role">
        Role: Lorem ipsum
    </div>

    <div class="c-team-card__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>

            <a class="c-team-card__link" href="https://www.andberry.me/">Read Title: Lorem ipsum dolor sit amet's full bio</a>
    </div>