/*
    Basic page
*/
body.page-node-type-page {
    #main-content {
        padding-top: $space_3xl;
        padding-bottom: $space_4xl;

        @include mq(xl) {
            padding-top: $space_4xl;
            padding-bottom: $space_5xl;
        }
    }

    .node__contents {
        @include grid-cell(2, 12, 12, 9);
    }



    /*
        Implement the 'circle' partly visible at the right side of the page
    */
    #main-content {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%) translateX(79%);
            right: 0px;
            height: 75%;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            background: $color_yellow;
            z-index: -1;
        }
    }
}



/*
    Flexible page
*/
/*
body.page-node-type-flexible-page {

}
*/



/*
    Team Leader and Team Member style
*/
body.page-node-type-team-leader,
body.page-node-type-team-member {
    #main-content {
        padding-top: $space_3xl;
        padding-bottom: $space_4xl;

        @include mq(xl) {
            padding-top: $space_4xl;
            padding-bottom: $space_5xl;
        }
    }

    .node__image {
        @include grid-cell(2, 12, 5);
        margin-bottom: $space_xl;
        @include mq(lg) {
            margin-bottom: 0px;
        }
    }

    .node__content {
        @include grid-cell-span(2);
        @include mq(md) {
            @include grid-cell-span(12);
        }
        @include mq(lg) {
            @include grid-cell-span(6, 7);
        }
    }

    .field-title {
        $font-family: $font_family_1;
        @include fs5();
        font-weight: 700;
        color: $color_purple;
        margin-bottom: $space_2xs;
    }

    .field-role {
        text-transform: uppercase;
        color: $color_blue-bright;
        font-weight: 700;
        margin-bottom: $space_l;
    }

    .field-intro-text {
        @include ts-summary();
        margin-bottom: $space_m;
    }

    .field-text {
        margin-bottom: $space_xl;
    }

    .field-cta__item {
        margin-bottom: $space_m;
    }
}



/*
    Team leader view mode "intro": used inside "team" view/page
*/
.node--type-team-leader.view-mode--intro {
    padding-bottom: $space_2xl;
    @include mq(xl) {
        padding-bottom: $space_3xl;
    }

    .grid {
        align-items: center;
    }

    .node__image {
        @include grid-cell(2, 3);
        margin-bottom: $space_xl;
        @include mq(lg) {
            margin-bottom: 0px;
        }

        img {
            border-radius: 50%;
        }
    }

    .node__content {
        @include grid-cell(2, 9);
    }

    .field-title {
        $font-family: $font_family_1;
        @include fs5();
        font-weight: 700;
        color: $color_purple;
        margin-bottom: $space_2xs;
    }

    .field-role {
        text-transform: uppercase;
        color: $color_blue-bright;
        font-weight: 700;
        margin-bottom: $space_m;
    }

    .field-intro-text {
        @include ts-summary();
    }

    .node__intro {
        margin-bottom: $space_2xl;
    }

    /*
    .node__details {
        padding-bottom: $space_3xl;
        @include mq(xl) {
            padding-bottom: $space_4xl;
        }
    }
    */

    .field-readmore {
        color: $color_purple;
        font-style: italic;
        font-weight: 700;
        @include link-undeline-animation();
        margin-top: $space_s;
    }

    .node__outro {
        margin-bottom: $space_l;
        @include mq(xl) {
            margin-top: $space_4xl;
            margin-bottom: $space_2xl;
        }
    }

    .node__team-description {
        padding-top: $space_2xl;
        @include ts-summary();
    }
}



.node--type-newsletter-issue{
    &.node--view-mode-full {
        padding-bottom: $space_2xl;

        @include mq(md) {
            padding-top: $space_xl;
            padding-bottom: $space_4xl;
        }
    }
}
