/*
    Setup max width for page?
*/
.layout-container {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}



/*
    Fixed positioned header requires top space on main
*/
/*
#main {
    padding-top: 150px;
}
*/




/*
    Drupal tabs
*/
/*
.block-local-tasks-block {
    padding-top: $space_m;
}
*/




/*
    Breadcrumbs
*/
.breadcrumb__wrapper {
    @include py($space_s);
    height: 40px;

    @include mq(md) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }


    li {
        @include px(6px);
        font-weight: 500;
        text-transform: uppercase;
        color: $color_black0;
        font-size: 12px;

        @include mq(lg) {
            font-size: 14px;
        }

        &:before {
            content: '/';
            position: relative;
            left: -6px;
            font-weight: 400;
        }
    }

    a {
        text-decoration: none;
        font-weight: 400;
        color: $color_black0;
        font-size: 12px;

        @include mq(lg) {
            font-size: 14px;
        }
    }
}

.breadcrumb {
    padding: 0px;
}



#search-block-form {
    position: relative;
    /*
    margin-bottom: $space_xl;
    */
    position: relative;
    display: none;
    width: 350px;

    @include mq(lg) {
        display: block;
    }

    .form-item {
        margin: 0px;
        display: block;
    }

    .form-search {
        background: $color_white;
        border: thin solid $color_white;
        padding-right: 60px;

        &::placeholder {
            color: $color_purple;
        }

        &:focus {
            box-shadow: $box_shadow;
        }
    }

    .form-actions {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 45px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:after {
            content: fa-content($fa-var-search);
            font-family: $font_family_icons;
            font-weight: 300;
            color: $color_purple;
            position: relative;
            z-index: 10;
            pointer-events: none;
            transition: $trans_linear;
        }

        &:hover {
            &:after {
                color: $color_white;
            }
        }

        .button {
            position: absolute;
            top: 2px;
            right: 2px;
            height: calc(100% - 4px);
            width: 41px;
            padding: 0px;
            background: $color_yellow;
            color: $color_white;
            font-size: 0px;
            text-indent: -100000px;
            border-radius: 0px;
            border: none;
            margin-top: 0px;
        }
    }
}

.messages {
    @include my($space_2xl);
}
