/*
    Drupal We Megamenu
*/
.navbar-we-mega-menu {
  background: transparent;
}

.we-mega-menu-ul > .we-mega-menu-li {
    border: none;
}

.we-mega-menu-ul > .we-mega-menu-li.active-trail > a {
    background: transparent !important;
}

.we-mega-menu-submenu li.we-mega-menu-li.active>a {
    border-bottom: none;
    text-decoration: underline;
}

.navbar-we-mega-menu.navbar .nav-tabs>li.active > a,
.navbar-we-mega-menu.navbar .nav-tabs>li.open > a {
    @include mq($until: lg) {
        background: transparent !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        border: none !important;
        color: $color_purple !important;
    }
}

.navbar-we-mega-menu.navbar .we-mega-menu-ul > li > a {
    border-top: none !important;

    @include mq($until: lg) {
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-shadow: none;
        color: $color_purple;
    }
}

.we-mega-menu-li {
    position: static !important;

    & > .we-mega-menu-submenu {
        width: 100% !important;
        background: $color_black0;
        top: 100%;
        left: 0px;
    }
}


.we-mega-menu-ul {
    position: static;
}

.c-header-main {
    position: relative;
}




.navbar-we-mega-menu {
    margin: 0px;

    .we-mega-menu-row {
        @include mq(md) {
            @include grid();
            max-width: 1200px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            @include px($space_m);
        }

        .span6 {
            @include mq(lg) {
                flex: none;
                max-width: none;
            }
        }
    }

    .we-mega-menu-col:first-child {
        display: none;
        @include mq(lg) {
            display: block;
            @include grid-cell-span(3, 4);
        }
    }

    .we-mega-menu-col:nth-child(2) {
        @include mq(md) {
            @include grid-cell-span(12);
        }

        @include mq(lg) {
            @include grid-cell-span(3, 8);
        }

    }

    .we-mega-menu-submenu {
        .block {
            color: $color_white;
            h1,h2,h3,h4 {
                color: $color_white;
                @include fs5();
                font-weight: 700;
            }
        }

        .nav {
            a {
                padding-left: 0px !important;
            }
            & > li:first-child {
                a {
                    padding-top: 0px !important;

                    &:before {
                        top: 18px !important;
                        @include mq(lg) {
                            top: 22px !important;
                        }
                    }
                }
            }
        }
    }
}

.we-mega-menu-ul .dropdown-menu:hover>.we-mega-menu-submenu {
    @include mq($until: md) {
        transition: $trans_easeOutCubic_fast;
    }

    @include mq(lg) {
        // padding: $space_3xl 0px $space_4xl 0px;
        transition: $trans_easeOutCubic_fast;
    }
}

.navbar-we-mega-menu .type-of-block h2 {
    @extend .h2;
    margin-bottom: $space_m;
    text-transform: none;
}


/*
    First level menu items
*/
.we-mega-menu-ul > .we-mega-menu-li > a {
    position: relative;
    display: block;
    padding: $space_xs $space_s;
    background: transparent;
    text-decoration: none;
    color: $color_white;
    text-transform: none;
    font-family: $font_family_2;
    font-weight: 500;
    font-size: remCalc(16);
    line-height: 1;
    @include link-undeline-animation($color_purple, $color_purple);

    &:before {
        top: 30px !important;
        right: $space_m;
        margin-top: 0px;
        @include mq(lg) {
            // @include abs-horizontal-center();
        }
    }

    &:hover {
        &:before {
            // left: $space_m;
            left: $space_m;
            right: auto;
            @include mq(lg) {
                width: calc(100% - #{$space_xl});
                // @include abs-horizontal-center();
            }
        }
    }

    @include mq(xl) {
        font-size: remCalc(16);
        padding: $space_s $space_m;
    }

    @include mq($until: lg) {
        display: inline-block !important;
        box-shadow: none !important;
        padding-top: 12px !important;
        padding-bottom: 12px !important;

    }

    &.we-mega-menu-li {
        position: relative !important;
    }
}

/*
.we-mega-menu-ul > li:last-child {
    & > a {
        padding-right: 0px;

        &:hover {
            &:before {
                @include mq(lg) {
                    width: calc(100% - #{$space_m});
                }
            }
        }
    }
}
*/

.we-mega-menu-ul>.we-mega-menu-li:hover > a {
    background: transparent;
}

.we-mega-menu-ul>.we-mega-menu-li.active-trail>a {
    &:before {
        @include mq($until: lg) {
            width: 100%;
            left: 0px;
        }


        @include mq(lg) {
            @include abs-horizontal-center();
            width: calc(100% - #{$space_xl});
        }
    }
}
.we-mega-menu-ul>.we-mega-menu-li:last-child.active-trail>a {
    &:before {
        width: 100%;
        @include mq(lg) {
            width: calc(100% - #{$space_xl});
        }
    }
}

/*
    Second level links
*/
.we-mega-menu-submenu li.we-mega-menu-li a {
    display: block;
    text-decoration: none;
    font-family: $font_family_2;
    padding: $space_s 0px !important;
    color: $color_white !important;
    // color: $color_purple !important;

    @include mq(md) {
        padding: $space_2xs 0px !important;
    }

    @include mq(xl) {
        padding: $space_xs 0px !important;
    }
}

.we-mega-menu-ul .we-mega-menu-li .nav li{
    @include mq(md) {
        margin-bottom: $space_s;
    }

    @include mq(lg) {
        margin-bottom: $space_l;
    }

    & > a {
        font-family: $font_family_2;
        font-weight: 500;
        font-size: 16px;
        display: inline-block;
        border: none;
        position: relative !important;
        text-decoration: none;
        @include link-undeline-animation($color_white, $color_white);
        &:before {
            transform: none !important;
            margin-top: 0px !important;
            top: 30px !important;
        }
    }

    &.active-trail {
        a {
            &:before {
                width: 100%;
                // background: $color_purple;
            }
        }
    }
}



/*
    Mobile menu
*/
.region-we-mega-menu {
    padding: 0px;
    margin: 0px;
    background: transparent;
}

.navbar-toggle {
    display: block;
    width: 28px;
    height: 18px;
    position: relative;
    top: 0px;
    background: transparent !important;


    &:hover,
    &:focus,
    &:active {
        outline: none;
        background: transparent !important;
    }

    @include mq($until: lg) {
        display: block !important;
    }

    @include mq(lg) {
        display: none;
    }

    .icon-bar {
        display: block;
        position: absolute;
        top: 50%;
        left: 0px;
        width: 100%;
        height: 2px;
        transition: $trans_easeOutCubic_fast;
        transform-origin: center;

        @include mq($until: lg) {
            background: $color_white !important;
        }

        &:nth-child(1) {
            transform: translateY(-9px);
        }

        &:nth-child(2) {
            transform: translateY(0px);
            width: 100%;
        }

        &:nth-child(3) {
            transform: translateY(9px);
        }
    }

    &.menu-opened {
        .icon-bar {
            &:first-child {
                transform: rotate(45deg) translateY(0px);
            }

            &:nth-child(2) {
                opacity: 0;
                width: 0px;
            }
            &:nth-child(3) {
                transform: rotate(-45deg) translateY(0px);
            }
        }
    }
}

body {
    & > .overlay {
        display: none;
    }
}

.navbar-we-mega-menu .type-of-block {
    font-family: $font_family_1;
    display: none !important;

    @include mq($until: lg) {
        padding: $space_xs 0px;
        width: auto;
    }

    @include mq(lg) {
        display: block !important;
    }

    a {
        text-decoration: none;
        font-family: $font_family_1;
        font-weight: 700;
        color: $color_primary !important;
        transition: $trans_linear_fast;

        &:hover {
            color: $color_secondary !important;
        }
    }

    h2 {
        @include mq($until: md) {
            display: none;
        }
    }
}

.we-mega-menu-li>.we-mega-menu-submenu {
    background: $color_purple;
    // color: $color_white;
    transition: $trans_linear_fast;
    z-index: 100;
    @include mq($until: md) {
        width: auto !important;
    }

    @include mq(lg) {
        padding: $space_3xl 0px $space_4xl 0px;
    }
}

.we-mega-menu-ul {
    & > li {
        & > a {
            @include mq($until: md) {
                font-weight: 500;
            }
        }
    }
}

.navbar-we-mega-menu.navbar,
.we-mega-menu-li>.we-mega-menu-submenu,
.navbar-we-mega-menu.navbar .nav .open>a,
.navbar-we-mega-menu.navbar .nav .open>a:active,
.navbar-we-mega-menu.navbar .nav .open>a:hover {
    color: $color_purple !important;
    @include mq($until: md) {
        background: $color_purple;
    }
}

.navbar-we-mega-menu.navbar .nav .open > a{
    @include mq($until: md) {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.navbar-we-mega-menu.navbar ul>li ul {
    @include mq($until: md) {
        padding-left: 0px;
    }
}

.region-we-mega-menu {
    .container-fluid {
        @include mq($until: lg) {
            padding-right: $space_l !important;
            padding-left: $space_l !important;
        }
    }
}

.navbar-we-mega-menu.navbar .dropdown-menu>.we-megamenu-nolink:after {
    @include mq($until: md) {
        right: 0px;
    }
}

.navbar-we-mega-menu.navbar ul> li ul {
    padding-bottom: $space_l;
    @include mq(lg) {
        padding-bottom: $space_xl;
    }

}

.navbar-we-mega-menu.navbar {
    @include mq($until: lg) {
        position: absolute;
        top: 100%;
        left: 0px;
        width: 100%;
        height: calc(100vh - 180px); /* 75px ios bottom bar height + header height*/
        overflow: scroll;
        display: none !important;
        padding-bottom: $space_2xl;
    }
}

body.toggled {
    right: 0px;
}

.navbar-we-mega-menu.navbar.we-mobile-megamenu-active {
    background: $color_purple;
    @include mq($until: lg) {
        @include py($space_s);
        animation: none;
        display: block !important;
        // box-shadow: $box_shadow;
    }
}

body > .btn-close {
    display: none !important;
}

.we-mega-menu-submenu-inner {
    @include mq($until: md) {
        padding-left: 20px;
        padding-right: 10px;
    }
}

.navbar-we-mega-menu.navbar .dropdown-menu > a::after {
    display: none;
}



/*
    Override background color of megamenu accordingly to public/professional menu
*/
#block-publicnavigation .we-mega-menu-li>.we-mega-menu-submenu {
    background: $color_purple !important;
    box-shadow: none !important;
    border: none !important;
}

#block-professionalsnavigation .we-mega-menu-li>.we-mega-menu-submenu {
    background: $color_purple !important;
    box-shadow: none !important;
    border: none !important;
}
