<section class="c-hero c-hero--bg"
    style="background-image: url('https://placeimg.com/800/600/tech');"    >

    <div class="c-hero__overlay"></div>
            <div class="c-hero__image">
            <img src='https://placeimg.com/400/400/nature' alt='Image alt'>
        </div>
        <div class="c-hero__content">
        <div class="container grid">
            <div class="c-hero__content__inner">
                                    <div class="c-hero__text">
                        One Person One Record (OPOR) is a vision and strategy for healthcare in Nova Scotia, providing the foundation for improved governance structure, and integration of patient information.
                    </div>
                
                                    <div class="c-hero__cta">
                        <a href="#" class="c-button--yellow">Learn more</a>
                    </div>
                            </div>
        </div>
    </div>
</section>