ul {
    &.menu {
        margin: 0px;
    }

    &.list--icons-trophy {
        list-style-type: none;
        padding-left: 0px;

        li {
            position: relative;
            padding-left: $space_xl;

            &:before {
                @include abs-vertical-center();
                left: $space_xs;
                display: block;
                content: fa-content($fa-var-trophy);
                font-family: $font_family_icons;
                font-weight: 400;
                font-size: 14px;
                color: $color_blue-bright;
            }
        }
    }
}
