/*
    Forms elements
*/
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="file"],
input[type="date"],
textarea {
    width: 100%;
    height: $form-input_height;
    line-height: 1;
    border-radius: 0px;
    padding: 0px $space_s;
    border: thin solid $color_grey-dark;
    max-width: 100%;
    transition: $trans_linear_fast;
    background: $color_white;
    color: $color_black;
    @include ts-base();

    &:active,
    &:focus {
        outline: none;
        box-shadow: $box_shadow;
    }
}



::placeholder {
    color: $color_black0;
    opacity: 0.5;
}



textarea {
    height: auto;
    padding: $space_s;
}



select {
    width: 100%;
    height: $form-input_height;
    line-height: 1;
    padding: 0px $space_xl 0px $space_m;
    border-radius: 0px;
    border: thin solid $color_grey-dark;
    background: $color_white;
    -moz-appearance: none;
    -webkit-appearance: none;
    max-width: 100%;
    width: 100%;
    font-size: 1rem;

    &:focus {
        outline: none;
    }
}



fieldset {
    border: none;
    padding: 0px;
}



input[type="submit"] {
    @extend .c-button--yellow;

    &:focus {
        outline: none;
    }
}
