<div class="c-image-content c-image-content--iright">
    <div class="container grid c-image-content__container">
        <div class="c-image-content__image">
            <img src='https://placeimg.com/800/600/tech' alt='Image alt'>
        </div>

        <div class="c-image-content__content">
                            <h2 class="c-image-content__title">Title: Lorem ipsum dolor sit amet</h2>
            
            <div class="c-image-content__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>

                    </div>
    </div>
</div>