.c-icon-content-blocks {
    background: $color_grey-light;
    padding-top: $space_3xl;
    padding-bottom: 0px;

    @include mq(xl) {
        padding-top: $space_4xl;

    }
}

.c-icon-content-blocks__title {
    margin-bottom: 0px;
    @include grid-cell-span(2);
    @include mq(md) {
        @include grid-cell-span(10, 3);
    }
}

.c-icon-content-blocks__items {
    margin-top: $space_3xl;
}
