.c-team-cards {
    background: $color_grey-light;
    @include py($space_3xl);
    @include mq(xl) {
        @include py($space_4xl);
    }
}

.c-team-cards__title {
    margin-bottom: $space_2xl;
}

.c-team-cards__items {
    @include mq(md) {
        display: flex;
        justify-content: space-between;
    }

    & > * {
        width: 100%;
        margin-bottom: $space_4xl;

        @include mq(md) {
            width: 25%;
            margin-bottom: 0px;
        }
    }
}
