<section class="c-hero {% if bgimage %}c-hero--bg{% else %}c-hero--color{% endif %}"
    {% if bgimage %}style="background-image: url('{{ bgimage }}');"{% endif %}
    >

    <div class="c-hero__overlay"></div>
    {% if image %}
        <div class="c-hero__image">
            {{ image }}
        </div>
    {% endif %}
    <div class="c-hero__content">
        <div class="container grid">
            <div class="c-hero__content__inner">
                {% if text|render|striptags %}
                    <div class="c-hero__text">
                        {{ text }}
                    </div>
                {% endif %}

                {% if cta_url and cta_text %}
                    <div class="c-hero__cta">
                        <a href="{{ cta_url }}" class="c-button--yellow">{{ cta_text }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
