{% set title_tag = (title_tag is not defined) ? 'h2' : title_tag %}

<div class="c-icon-content-blocks">
    <div class="container">
        <div class="c-icon-content-blocks__header grid">
            {% if title %}
                <{{title_tag}} class="c-icon-content-blocks__title">{{ title }}</{{title_tag}}>
            {% endif %}
        </div>

        <div class="c-icon-content-blocks__items">
            {{ items }}
        </div>
    </div>
</div>
