{% set title_tag = (title_tag is not defined) ? 'h3' : title_tag %}

<div class="c-icon-content">
    <div class="grid c-icon-content__container">
        <div class="c-icon-content__icon">
            {{ icon }}
        </div>

        <div class="c-icon-content__content">
            {% if title %}
                <{{title_tag}} class="c-icon-content__title">{{ title }}</{{title_tag}}>
            {% endif %}

            <div class="c-icon-content__text">
                {{ text }}
            </div>

            {% if link %}
            <div class="c-icon-content__link">
                {{ link }}
            </div>
            {% endif %}
        </div>
    </div>
</div>
