<div class="c-loader">
    <div id="c-loader-logo">
        <svg id="c-loader-logo-head" xmlns="http://www.w3.org/2000/svg" width="180.072" height="172.88" viewBox="0 0 180.072 172.88">
            <g id="c-loader-Group_220" data-name="Group 220" transform="translate(-72.41 -143.692)">
                <circle  data-name="Ellipse 9" cx="31.131" cy="31.131" r="31.131" transform="translate(149.916 143.692)" fill="#eab020"/>
            </g>
        </svg>

        <svg id="c-loader-logo-left" xmlns="http://www.w3.org/2000/svg" width="180.072" height="172.88" viewBox="0 0 180.072 172.88">
            <g id="c-loader-Group_220" data-name="Group 220" transform="translate(-72.41 -143.692)">
                <path  data-name="Path 1955" d="M110.815,343.964V255.522c0-.3.014-.6.023-.9H72.41Z" transform="translate(0 -27.589)" fill="#acddde"/>
            </g>
        </svg>

        <svg id="c-loader-logo-main" xmlns="http://www.w3.org/2000/svg" width="180.072" height="172.88" viewBox="0 0 180.072 172.88">
            <g id="c-loader-Group_220" data-name="Group 220" transform="translate(-72.41 -143.692)">
                <path  data-name="Path 1956" d="M242.989,270.984,265.521,323.4V247.777c0-14.876-12.171-29.481-27.047-29.481H225.217a5.854,5.854,0,0,0-4.282,1.739,37.861,37.861,0,0,1-26.848,11.188A38.534,38.534,0,0,1,166.8,219.585a4.563,4.563,0,0,0-3.265-1.289h-13c-11.951,0-24.085,10.065-25.7,21.1h72.576C225.607,239.392,236.273,255.362,242.989,270.984Z" transform="translate(-13.039 -18.554)" fill="#231f66"/>
            </g>
        </svg>

        <svg id="c-loader-logo-bottom" xmlns="http://www.w3.org/2000/svg" width="180.072" height="172.88" viewBox="0 0 180.072 172.88">
            <g id="c-loader-Group_220" data-name="Group 220" transform="translate(-72.41 -143.692)">
                <path  data-name="Path 1957" d="M123.528,343.964l.085.2H263.341L236.83,282.489c-6.588-15.326-15.874-27.866-39.845-27.866H123.551c-.009.3-.023.6-.023.9Z" transform="translate(-12.713 -27.589)" fill="#6ecbdb"/>
            </g>
        </svg>
    </div>
</div>
