{% set title_tag = (title_tag is not defined) ? 'h3' : title_tag %}

<div class="c-newsletter-item">
    {% if title %}
        <{{title_tag}} class="c-newsletter-item__title">{{ title }}</{{title_tag}}>
    {% endif %}
    <div class="grid c-newsletter-item__content">
        <div class="c-newsletter-item__icon">
            {{ icon }}
        </div>

        <div class="c-newsletter-item__text">
            {{ text }}
        </div>
    </div>
</div>
