<div class="c-team-card {% if url %}c-team-card--with-url{% endif %}">
    {% if url %}
        <a class="c-team-card__link" href="{{ url }}">
    {% endif %}

    <div class="c-team-card__image">
        {{ image }}
    </div>

    <div class="c-team-card__title">
        {{ title }}
    </div>

    <div class="c-team-card__role">
        {{ role }}
    </div>

    <div class="c-team-card__text">
        {{ text }}
    </div>

    {% if url %}
        </a>
    {% endif %}

    {% if cta_url  %}
        <a class="c-team-card__cta" href="{{ cta_url }}">
            {# Read {{ title }}'s full bio #}
            {{ link_text }}
        </a>
    {% endif %}
</div>
