<div class="c-team-cards">
    <div class="container">
        <h2 class="c-team-cards__title">{{ title }}</h2>

        <div class="c-team-cards__items">
            {{ items }}
        </div>
    </div>
</div>
