<section class="c-timeline">
    <div class="container">
        {% if title|render %}
            <div class="c-timeline__title">{{ title }}</div>
        {% endif %}

        <div class="c-timeline__main">
            {{ drupal_view('timeline', 'block_1')}}
        </div>
    </div>
</section>
