<section class="c-two-columns-text">
    <div class="container">
        <div class="grid">
            <div class="c-two-columns-text__wrapper">
                <div class="c-two-columns-text__header">
                    <h2 class="c-two-columns-text__title">{{ title }}</h2>
                </div>

                <div class="c-two-columns-text__content grid">
                    <div class="c-two-columns-text__content__left">
                        {{ text_left }}
                    </div>

                    <div class="c-two-columns-text__content__right">
                        {{ text_right }}
                    </div>
                </div>

                <div class="c-two-columns-text__footer">
                    {{ footer }}
                </div>
            </div>
        </div>

    </div>
</section>
