{% set videoposition = videoposition ? videoposition : 'left' %}
{% set title_tag = (title_tag is not defined) ? 'h2' : title_tag %}

<div class="c-video-content c-video-content--i{{ videoposition }}">
    <div class="container grid c-video-content__container">
        <div class="c-video-content__video">
            {{ video }}
        </div>

        <div class="c-video-content__content">
            {% if title %}
                <{{title_tag}} class="c-video-content__title">{{ title }}</{{title_tag}}>
            {% endif %}

            <div class="c-video-content__text">
                {{ text }}
            </div>

            {% if cta_url and cta_text %}
                <div class="c-video-content__cta">
                    <a href="{{ cta_url }}" class="c-button">{{ cta_text}}</a>
                </div>
            {% endif %}

            {% if ctas %}
                <div class="c-video-content__ctas">
                    {% for item in ctas %}
                        <div class="c-video-content__ctas__item">
                            <a href="{{ item.url }}" class="c-button">{{ item.title }}</a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
