/*
    Text Style: Base
*/
@mixin ts-base() {
    font-family: $font_family_1;
    @include responsive-property("font-size", $font_size_base);
    font-weight: 400;
    line-height: 1.5;
}

@mixin ts-summary() {
    font-family: $font_family_1;
    @include responsive-property("font-size", $font_size_bold);
    font-weight: 600;
    line-height: 1.4;
}

@mixin ts-headlines-commons {
    font-family: $font_family_2;
    line-height: 1.2;
    margin-bottom: $space_m;
    margin-top: $space_2xl;
    color: $color_purple;
    letter-spacing: 0.5px;

    &:first-child {
        margin-top: 0px;
    }
}



/*
    Font size mixins
*/
@mixin fsbase() {
    @include responsive-property("font-size", $font_size_base);
}

@mixin fsbold() {
    @include responsive-property("font-size", $font_size_bold);
}

@mixin fs1() {
    @include responsive-property("font-size", $font_size_1);
    font-weight: 700;
    // font-size: $font_size_fluid_1;
}

@mixin fs2() {
    @include responsive-property("font-size", $font_size_2);
    font-weight: 700;
    // font-size: $font_size_fluid_2;
}

@mixin fs3() {
    @include responsive-property("font-size", $font_size_3);
    font-weight: 500;
    // font-size: $font_size_fluid_3;
}

@mixin fs4() {
    @include responsive-property("font-size", $font_size_4);
    font-weight: 500;
    // font-size: $font_size_fluid_4;
}

@mixin fs5() {
    @include responsive-property("font-size", $font_size_5);
    font-weight: 500;
    // font-size: $font_size_fluid_5;
}

@mixin fs6() {
    @include responsive-property("font-size", $font_size_6);
    font-weight: 500;
    // font-size: $font_size_fluid_6;
}
