<footer id="page-footer" role="contentinfo" class="c-footer">
    <img src="{{ base_path ~ directory }}/images/footer-mask.svg" class="c-footer__bg" alt="">
    <div class="c-footer-main">
        <div class="container grid">
            <div class="c-footer__left">
                {{ page.footer_left }}
            </div>
            <div class="c-footer__right">
                {{ page.footer_right }}
            </div>
        </div>
    </div>

    <div class="c-footer-bottom">
        <div class="container">
            <div class="c-footer__bottom1 grid">
                {{ page.footer_bottom_1 }}
            </div>
            <div class="c-footer__bottom2">
                {{ page.footer_bottom_2 }}
            </div>
        </div>
    </div>
</footer>
