<header id="page-header" role="banner" class="c-header">
    {% if page.header_top_bar %}
        {% include '@opoe/layout/c-header-top-bar.html.twig' %}
    {% endif %}

    {% if page.header_top %}
        <div class="c-header-top">
            <div class="container">
                {{ page.header_top }}
            </div>
        </div>
    {% endif %}

    <div class="c-header-main">
        <div class="container">
            <div class="c-header-main__brand">
                {% if page.header_brand %}
                    {{ page.header_brand }}
                {% endif %}
            </div>

            <div class="c-header-main__secondary">
                {% if page.header_secondary %}
                    {{ page.header_secondary }}
                {% endif %}
            </div>

            {#
            <div class="c-header-main__nav">
                {{ page.header_main_nav }}
            </div>
            #}
        </div>
    </div>

    <div class="c-nav">
        {{ page.header_main_nav }}
    </div>
</header>
