#block-infotopbar {
    .field--name-body {
        font-size: 14px;
        color: $color_primary;

        p {
            line-height: 1.2;
        }

        a {
            transition: $trans_linear_fast;
            color: $color_secondary;

            &:hover {
                color: $color_primary;
            }
        }
    }
}
