#main-content {
    position: relative;
}
.block.menu--quick-links {

    @include py($space_l);
    background: $color_grey-light;
    background: $color_yellow;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top-right-radius: 48px;
    border-bottom-left-radius: 48px;
    padding: $space_l;
    max-width: 85%;
    margin: $space_xl auto 0px auto;


    &:after {
        content: '';
        display: block;
        clear: both;
    }

    h2 {
        @include fs3();
        margin: 0px 0px $space_m 0px;
        @include container();
    }

    .menu {
        @include container();
    }

    .menu-item {
        display: block;
        @include py($space_xs);

        @include mq(md) {
            display: inline-block;
            margin-right: $space_l;
        }

        a {
            text-decoration: underline;
            color: $color_purple;

            &:hover {
                text-decoration: none;
            }
        }
    }
}
